# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#storybook
storybook-static

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/

ct-libc/
/dll/
/node_modules/
/release-builds
/release-installers
/desktop/dist/
/desktop/main.prod.js
/desktop/main.prod.js.map
/desktop/config.json
/node/*/
/release
.env
.vscode
/desktop/dist
/desktop/bip32_bg.wasm
key.bin