# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# dependencies
node_modules

# testing
/coverage
.eslintcache

# production
/build

#storybook
storybook-static


# OSX
.DS_Store

release/app/dist
release/build
.erb/dll
node


.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

