{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "printWidth": 180,
  "singleQuote": true,
  "arrowParens": "always",
  "parser": "flow"
}
