.rotate {
  position: absolute;
  top: 18px;
  left: 8px;
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
